DolphinDevelopmentManual.log
DolphinDevelopmentManual.aux
DolphinDevelopmentManual.glo
DolphinDevelopmentManual.out
DolphinDevelopmentManual.toc
DolphinDevelopmentManual.xdy
DolphinDevelopmentManual.synctex.gz
